// ---alpheus-managed-start---
**/*.hash
.alpheus/storage
1_SIR_const_beta/predictions/
1_SIR_const_beta/figures/
1_SIR_const_beta/params/
2_SIR_spline_beta/predictions/
2_SIR_spline_beta/figures/
2_SIR_spline_beta/params/
3_SEIR_spline_beta/predictions/
3_SEIR_spline_beta/figures/
3_SEIR_spline_beta/params/
SigmoidConfirmedModel/dr_per_location_figures/*.png
SigmoidConfirmedModel/dr_per_location_params/*.json
SigmoidConfirmedModel/dr_per_location_predictions/*.csv
dr_location_data/
jhu_all_per_location_data/*.csv
jhu_data/csse_covid_19_daily_reports/
jhu_data/csse_covid_19_time_series/
jhu_dr_per_location_data/*.csv
jhu_dr_per_location_single_infected_peak_data/*.csv
jhu_ts_per_location_data/*.csv
jhu_ts_per_location_single_infected_peak_data/*.csv
jhu_ts_per_location_single_infected_peak_data_gathered/
official_data/
// ---alpheus-managed-end---
jhu_ts_per_location_data_gathered
jhu_ts_per_location_data_min_filter
jhu_dr_per_location_data_gathered
jhu_all_per_location_data_gathered
SigmoidConfirmedModel/per_location_figures/
SigmoidConfirmedModel/per_location_params/
SigmoidConfirmedModel/per_location_predictions/
deathRateModel/deathCountIsSigmoidSpace.csv
deathRateModel/deathSigmoidFitFigures/
sigmaEvaluation
keysAnalysis/
venv
archive
Rplots.pdf
.Rhistory

