// ---alpheus-managed-start---
**/*.hash
.alpheus/storage
jhu_all_per_location_data/*.csv
SEIR_single_peak_locations/dr_fitted_figures/*.png
SEIR_single_peak_locations/dr_fitted_params/*.json
SEIR_single_peak_locations/dr_prediction/*.csv
SEIR_single_peak_locations/kaggle_sir_fit_dataset/per_location_figures/*.png
SEIR_single_peak_locations/kaggle_sir_fit_dataset/per_location_predictions/*.csv
SEIR_single_peak_locations/ts_fitted_figures/*.png
SEIR_single_peak_locations/ts_fitted_params/*.json
SEIR_single_peak_locations/ts_prediction/*.csv
SIR_IR_min_bound/dr_fitted_figures/*.png
SIR_IR_min_bound/dr_fitted_params/*.json
SIR_IR_min_bound/dr_fitted_png/*.png
SIR_IR_min_bound/dr_fitted_prediction/*.csv
SIR_IR_min_bound/dr_prediction/*.csv
SIR_IR_min_bound/kaggle_sir_fit_dataset/per_location_figures/
SIR_IR_min_bound/kaggle_sir_fit_dataset/per_location_fitted_params.csv
SIR_IR_min_bound/kaggle_sir_fit_dataset/per_location_predictions/
SIR_IR_min_bound/per_controlled_location_data/*.csv
SIR_IR_min_bound/per_controlled_location_data_gathered/
SIR_IR_min_bound/per_controlled_location_fitted/*.json
SIR_IR_min_bound/per_controlled_location_fitted/*.png
SIR_IR_min_bound/per_controlled_location_fitted_params/*.json
SIR_IR_min_bound/per_evolving_location_data/*.csv
SIR_IR_min_bound/per_evolving_location_data_gathered/
SIR_IR_min_bound/per_evolving_location_fitted/*.json
SIR_IR_min_bound/per_evolving_location_fitted/*.png
SIR_IR_min_bound/per_location_data/*.csv
SIR_IR_min_bound/per_location_data_gathered/
SIR_IR_min_bound/per_location_fitted_params/*.json
SIR_IR_min_bound/per_location_fitted_png/*.csv
SIR_IR_min_bound/per_location_fitted_png/*.png
SIR_IR_min_bound/per_location_prediction/*.csv
SigmoidConfirmedModel/dr_per_location_figures/*.png
SigmoidConfirmedModel/dr_per_location_params/*.json
SigmoidConfirmedModel/dr_per_location_predictions/*.csv
dr_location_data/
jhu_data/csse_covid_19_daily_reports/
jhu_data/csse_covid_19_time_series/
jhu_dr_per_location_data/*.csv
jhu_dr_per_location_single_infected_peak_data/*.csv
jhu_ts_per_location_data/*.csv
jhu_ts_per_location_single_infected_peak_data/*.csv
official_data/
// ---alpheus-managed-end---
venv
